/*** Text colors ***/

.text-primary {
	color: #28a745;
}

.text-secondary {
	color: #0284d0;
}

/*** Buttons ***/

.btn {
	display: inline-block;
	cursor: pointer;
	padding: 10px 30px;
	border-radius: 5px;
	border: none;
}

.btn:hover {
	opacity: 0.9;
}

.btn-primary,
.bg-primary {
	background-color: #28a745;
	color: #fff;
}
.btn-secondary,
.bg-secondary {
	background-color: #0284d0;
	color: #fff;
}
.btn-light,
.bg-light {
	background-color: #f4f4f4;
	color: #333;
}
.btn-dark,
.bg-dark {
	background-color: #333;
	color: #fff;
}

.btn-outline {
	border: 1px solid #fff;
	color: #fff;
}

.flex-items {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100%;
}

.flex-columns.flex-reverse .row {
	flex-direction: row-reverse;
}

.flex-items > div {
	padding: 20px;
}

.section-padding {
	padding: 20px 20px 40px;
}
